<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqu.store_admin.mapper.ProductMapper">
    <resultMap id="ProductEntityMap" type="com.cqu.store_admin.entity.Product">
        <id column="id" property="id"/>
        <result column="category_id" property="categoryId"/>
        <result column="item_type" property="itemType"/>
        <result column="sell_point" property="sellPoint"/>
        <result column="num" property="num"/>
        <result column="price" property="price"/>

        <result column="image" property="image"/>
        <result column="STATUS" property="status"/>
        <result column="priority" property="priority"/>

        <result column="created_user" property="createdUser"/>
        <result column="created_time" property="createdTime"/>
        <result column="modified_user" property="modifiedUser"/>
        <result column="modified_time" property="modifiedTime"/>
    </resultMap>

    <!-- 返回所有用户的信息：Product findAllProduct() -->
    <select id="findAllProduct" resultMap="ProductEntityMap" >
        SELECT
            *
        FROM
            store.t_product
    </select>

<!--    Integer updateproducts(Integer id,-->
<!--    String itemType,-->
<!--    String title,-->
<!--    String sellPoint,-->
<!--    Long price,-->
<!--    Integer num,-->
<!--    String image,-->
<!--    Integer status,-->
<!--    Integer priority);-->
    <!-- 返回所有用户的信息：Product findAllProduct() -->
    <update id="updateproducts"  >
        UPDATE
            store.t_product
        SET
            store.t_product.item_type = #{itemType},
            store.t_product.title = #{title},
            store.t_product.sell_point = #{sellPoint},
            store.t_product.price = #{price},
            store.t_product.num = #{num},
            store.t_product.image = #{image},
            store.t_product.status = #{status},
            store.t_product.priority = #{priority}
        WHERE
            id = #{id}
    </update>
</mapper>